radvd.conf.5.man is wrong about M/O flags documented in RFC 4862

to quote from the man page:
https://github.com/radvd-project/radvd/blob/f2de4764559e102fe8492520be328858af0f964d/radvd.conf.5.man#L272-L289

The man page states that the Managed & OtherInformation flags are documented in RFC 4862. However, this does not seem the case. Quoted from [RFC 4862, Appendix C](https://datatracker.ietf.org/doc/html/rfc4862#appendix-C):
> - Removed the text regarding the M and O flags, considering the maturity of implementations and operational experiences. ManagedFlag and OtherConfigFlag were removed accordingly. (Note that this change does not mean the use of these flags is deprecated.)

I do not have a better source for information yet, as I’m trying myself to find out which of these flags is supposed to be set when having DHCPv6 in prefix delegation mode only.

[RFC4861, Section 4.2](https://datatracker.ietf.org/doc/html/rfc4861#section-4.2) is likely the correct reference.

[RFC5175 Section 3](https://datatracker.ietf.org/doc/html/rfc5175#section-3) has a list of where all of the other flags come from.

On Tue, Dec 10, 2024 at 05:38:41PM -0800, Graeme Bragg wrote:
> [RFC4861, Section 4.2](https://datatracker.ietf.org/doc/html/rfc4861#section-4.2) is likely the correct reference.
> 
> [RFC5175 Section 3](https://datatracker.ietf.org/doc/html/rfc5175#section-3) has a list of where all of the other flags come from.
> 

Patches welcome
