DeprecatePrefix in radvd 2.19 somehow just stops my entire v6 setup from working altogether. Maybe some automation for us dealing to dynamic prefixes? Like, just watching netlink and monitoring ip address changes, and hopefully deprecating the old prefix and start advertising the new one. And hopefully without needing to restart radvd. 

@corvus1 can you provide some detail about how it stopped your entire setup working?


I'm really not sure what to look for. I added `DeprecatePrefix on` and then restarted ppp0 to provoke IP change. Everything looked normal on the surface, it's just no ipv6 traffic was going anywhere. 

To get a better idea, I'd have to start `tcpdump`-ing things before and after and comparing them. 

Please do investigate it. Most likely it is something like clients were still using the old prefix for their source address, but that wasn't routable anymore.

any updates?

Dear all,

All people are welcome to comment the current situation, we are in December 2024, a perfect patch is needed.

It is needed to solves 2 issues before 2.20:
- https://github.com/radvd-project/radvd/issues/85 @ihipop, @mhanor, @stu-gott
- https://github.com/radvd-project/radvd/issues/91 @romanrm, @ihipop, @bnutzer, @MarioVerbelen, @ruben-herold, @corvus1, @ipilcher, @stu-gott, @pyk1998

Issues/PRs:
- https://github.com/radvd-project/radvd/issues
- https://github.com/radvd-project/radvd/pulls

All help is welcome...

@agowa, @AdSchellevis, @fichtner, @marjohn56, @bmeirellesRJ, @mhanor, @stu-gott, @wcbonner, @the-j0k3r, @WenChao1Hou, @BrainSlayer, @Mile-Lile, @bnutzer, @stu-gott, @MarioVerbelen, @ruben-herold, @ipilcher, @pyk1998, @romanrm, @corvus1, @ihipop

If you know some IPv6 specialists, please come here, there are several tickets, thanks in advance.

After a long time, it still seems hard to solve....I used to find a workaround for this problem, using a script here:

[](https://community.ui.com/questions/Solution-for-client-losing-IPv6-connectivity-after-PPPoE-re-assign-the-new-prefix/4d6c5132-5f54-492c-a47a-b576182157fe)

The ER-X platform uses radvd, and people there also try to solve the same problem.

I hope it may be inspiring for the enhancement of radvd...

My two cents: for consistency reasons OPNsense no longer uses the "::/64" notation. https://github.com/opnsense/core/commit/165327ba72d2

Inspired by #233 , I think the flash-renumbering event is what we have discussed here.

And following the suggestion in https://datatracker.ietf.org/doc/draft-ietf-6man-slaac-renum/, which refers to RFC9096 Section 3.5 (https://datatracker.ietf.org/doc/rfc9096/), maybe record the previous "dynamically learned prefix", and notify all the downstream clients with no less least the "Valid Lifetime" should work for fine. However, currently, radvd only announces the deprecated prefix upon shutdown, which is insufficient and needs more script assistance when using it. Hope we can add this feature inside of radvd to solve this issue entirely.

> currently, radvd only announces the deprecated prefix upon shutdown, which is insufficient and needs more script assistance when using it. Hope we can add this feature inside of radvd to solve this issue entirely.

YES, currently, I have to write a script to check if there is any deprecated address has been assigned , if it is,  delete it and restart radvd to let radvd announces the deprecated prefix invalid upon shutdown

> > currently, radvd only announces the deprecated prefix upon shutdown, which is insufficient and needs more script assistance when using it. Hope we can add this feature inside of radvd to solve this issue entirely.
> 
> YES, currently, I have to write a script to check if there are any deprecated address that have been assigned, if it is, delete it and restart radvd to let radvd announces the deprecated prefix as invalid upon shutdown

This MAY work sometimes, but when in a wireless environment, the downstream clients (cell phones) may go into power-saving mode and sometimes ignore the RA messages containing deprecated addresses. Therefore, it is not stable just to announce the deprecated addresses once. 

Another Router Advertisement Deamon used in OpenWRT is odhcpd, I also go check their implementation, and it seems that they have taken care of this scenario in https://github.com/openwrt/odhcpd/blob/a29882318a4ccb3ae26f7cc0145e06ad4ead224b/src/netlink.c#L215

BTW, I think this is a really common and important scenario to be taken care of for IPv6 wildly used. I have found another RFC 7084 (which has already become a standard), stating that 

>L-13:  If the delegated prefix changes, i.e., the current prefix is
          replaced with a new prefix without any overlapping time
          period, then the IPv6 CE router MUST immediately advertise the
          old prefix with a Preferred Lifetime of zero and a Valid
          Lifetime of either a) zero or b) the lower of the current
          Valid Lifetime and two hours (which must be decremented in
          real time) in a Router Advertisement message as described in
          [Section 5.5.3](https://datatracker.ietf.org/doc/html/rfc7084#section-5.5.3), (e) of [[RFC4862](https://datatracker.ietf.org/doc/html/rfc4862)].

@systemcrash, @Noltari. @Alphix: What do you think about this radvd issue?