AdvRASolicitedUnicast / RFC7772: fall back to multicast all-nodes address?

First of all, thanks for this great feature! It greatly reduces overhead in our [Freifunk](https://freifunk.net/en/) mesh networks.

One issue we have stumbled upon though: It sometimes takes quite a long time to get an IPv6 address from radvd. The main issue seems to be that it sometimes takes a while for a new multicast address information to propagate in our [batman-adv](https://www.open-mesh.org/) mesh protocol and [Freifunk Gluon](https://github.com/freifunk-gluon/gluon/) firmware based networks. If the timing is unfortunate it might take up to 5 seconds (and even more if a packet might get lost).

The second issue is that some tools, including the Linux Network Manager, don't seem to set the ICMPv6 source link-layer address option in an ICMPv6 Router Solicitation message. So when radvd receives the RS message the Linux kernel might not have learned the MAC address belonging to the recipient yet. So when trying to reply with a unicasted, solicited RA reply the Linux kernel will try to get the MAC address first via IPv6 neighbor discovery, via an ICMPv6 Neighbor Solicitation message send to the solicited-node multicast address belonging to the client. However this one, even though it is retried two times after +1s and +2s sometimes won't make it through yet because batman-adv has not propagated that multicast information yet.

There then don't seem to be any further retries, leading to a long time, probably until the periodic RA messages, for the client device to receive its routeable IPv6 addresses.

```
0s	fe80::2	ip6-allrouters	ICMPv6	62	Router Solicitation
0s	fe80::1	ff02::1:ff00:2	ICMPv6	86	Neighbor Solicitation for fe80::2 from 02:00:00:00:00:01
1s	fe80::1	ff02::1:ff00:2	ICMPv6	86	Neighbor Solicitation for fe80::2 from 02:00:00:00:00:01
2s	fe80::1	ff02::1:ff00:2	ICMPv6	86	Neighbor Solicitation for fe80::2 from 02:00:00:00:00:01
[...]
Xs	fe80::1	ip6-allnodes	ICMPv6	118	Router Advertisement from da:ff:00:00:01:0e

=> no Neighbor Advertisement reply
=> no unicasted Router Advertisement
=> very late multicasted RA
```

---

[RFC7772, section 5.1](https://www.rfc-editor.org/info/rfc7772/#section-5.1), says:

> [...] routers to respond to Router Solicitations with unicast Router Advertisements if: [...] The solicitation contains a valid Source Link-Layer Address option.

If that is not the case radvd's approach to try neighbor discovery instead makes sense to me. But I think I would also read this part of the RFC as: Use the previous approach by replying to the all-nodes multicast address if no source link-layer address option exist / if the unicasting approach did not work?

And I guess it should be possible to get that information from the kernel, that the unicast RA transmission was not possible due to to being unable to resolve the destination IP?

This was previously documented in the code: https://github.com/radvd-project/radvd/blob/c28808500963ef476f7e770a1cf7153b2a77a646/process.c#L125-L149

Notice that many clients don't correctly implement providing a SLLA.

1. For your environment, can you please capture more detail about the content of the packets?
2. Repeat this with radvd debug logging enabled.

My best theory based on what you say & the code, is that the multicast RA you see isn't the directed response, it's just the next scheduled multicast RA.

The kernel instead has swallowed the unicast RA (radvd sent it blindly to the kernel, and the kernel is running NS, and in the absence of NA response, the kernel likely dropped the unicast RA). radvd cannot know that the kernel dropped the RA.

radvd could potentially query the kernel to see if a specific address is present in the neighbor table via RTM_GETNEIGH+NDA_DST; but that will return false anyway, because kernel didn't learn the source address from your RS packet.

Outside of your batman-adv; I would expect the clients to respond to the NS packet, so i'm thinking there isn't a good fix that solves both uses cases, and we should enable a fix or documented workaround for batman-adv.

Two potential workarounds for your environment:
- send multicast RA more frequently - despite the RFC7772 section 4 suggesting 7 multicast RA per hour.
- RFC 7772, section 5.1; point 3: .. If there is a desire to ensure that hosts pick up configuration changes quickly, those networks MAY send frequent Router Advertisements for a limited period of time (e.g., not more than one minute) immediately after a configuration change.

> The kernel instead has swallowed the unicast RA (radvd sent it blindly to the kernel, and the kernel is running NS, and in the absence of NA response, the kernel likely dropped the unicast RA). radvd cannot know that the kernel dropped the RA.

I'm wondering if the same approach which ping6 uses might allow radvd to get notified by the kernel if it couldn't resolve the address. ping6 is somehow able to detect and display a "Destination unreachable: Address unreachable". In here: https://github.com/iputils/iputils/blob/9900265d41e1a71f3967c6484798a2fff1ffc48b/ping/ping6_common.c#L427. And here: https://github.com/iputils/iputils/blob/9900265d41e1a71f3967c6484798a2fff1ffc48b/ping/ping6_common.c#L492. So basically via the MSG_ERRQUEUE in recvmsg().

Maybe that could be checked and if it indicates an error resend the RA via multicast, even if AdvRASolicitedUnicast is enabled?

---

I've also replied to this ticket at NetworkManager, someone else seems to have asked for source-link-layer address option support for RS messages from NM, too: https://gitlab.freedesktop.org/NetworkManager/NetworkManager/-/work_items/1128#note_3546805.

I could also reproduce it reliably via the rs6 tool from https://github.com/fgont/ipv6toolkit. When setting "--src-link-opt" I see the unicasted RA messages from radvd in Wireshark just fine. Without that option I don't.

> My best theory based on what you say & the code, is that the multicast RA you see isn't the directed response, it's just the next scheduled multicast RA.

Yep, that was also my guess.

Let's say we did implement this; I do like the plan to switch the unicast for a multicast to improve reliability, 
but I'm still worried that it goes against the recommendations of RFC7772 to limit RA rate.

For your Freifunk mesh networks, do you control all of the radvd configurations? 

The logic presently does:
- prefer unicast always
- if NOT long enough since last multicast (MinDelayBetweenRAs), reschedule and stay silent for now
- if long enough since last multicast, do multicast

new potential logic:
0. introduce a new check, `unicast_send_valid`: based on either or both of RTM_GETNEIGH+NDA_DST or ping6 fallback [the ping6 will work on more platforms, NDA_DST would be faster]
- if long enough since last multicast, do multicast
- if unicast requested && `unicast_send_valid`, do unicast
- fall back to multicast

For Freifunk mesh; aggressively tune the RA interval knobs `MinDelayBetweenRAs`, `MinRtrAdvInterval`, `MaxRtrAdvInterval`.
If you need to get sub-3-seconds, you'll have to switch Mobile IPv6 Extensions anyway, because the baseline RFCs declare 3 seconds as the lowest regular interval for both solicited & unsolicited multicast.


Robin H. Johnson ***@***.***> wrote:
    > My best theory based on what you say & the code, is that the multicast
    > RA you see isn't the directed response, it's just the next scheduled
    > multicast RA.

Reasonable.

    > The kernel instead has swallowed the unicast RA (radvd sent it blindly
    > to the kernel, and the kernel is running NS, and in the absence of NA
    > response, the kernel likely dropped the unicast RA). radvd cannot know
    > that the kernel dropped the RA.

Yes.

A work around here might be that for all SolicitedUnicast replies, put them
on a queue that retransmits them (unicast) ~three times over the course of a
minute.  This fits with the spiriti of 7772/5.1/3 you mention below.

The client side expense will mostly be smartphone wakeups, but probably that
client is trying to get online anyway.

    > Two potential workarounds for your environment:
    > - send multicast RA more frequently - despite the RFC7772 section 4 suggesting 7 multicast RA per hour.
    > - RFC 7772, section 5.1; point 3: .. If there is a desire to ensure
    > that hosts pick up configuration changes quickly, those networks MAY
    > send frequent Router Advertisements for a limited period of time (e.g.,
    > not more than one minute) immediately after a configuration change.

--
]               Never tell me the odds!                 | ipv6 mesh networks [
]   Michael Richardson, Sandelman Software Works        |    IoT architect   [
]     ***@***.***  http://www.sandelman.ca/        |   ruby on rails    [
]       My working hours and your working hours may be different.            [
]  Please do not feel obligated to reply outside your normal working hours   [



I'm torn here on a good solution for everybody vs a good solution for Gluon.

RFC7772/4/paragraph6 does provide a carve out for more specialized networks, and I think the Gluon system fits into that, having read up on it in more depth now**.  I feel the intent of the RFC authors was for sensor networks that were even more power-constrained; so a higher RA interval made sense there, because the networks were mostly static. Gluon on the other hand seems much more dynamic.

"Multiple times over the course of a minute" is that fast enough for @T-X's requirements?

Multiple parallel things to implement here:
- If Gluon mesh changing meets the intent of RFC7772/5.1/3, how can we give Gluon a good way to trigger more multicast RAs? (SIGHUP is close to this, but somewhat overkill)
- Change unicast logic to do the ping6 test for LL addr, with fallback to multiple sends; but suspend any further sends if an unsolicited multicast RA has been sent



** Thanks - it might let me repurpose some old Unifi gear!

> * For your environment, can you please capture more detail about the content of the packets?
> 
> * Repeat this with radvd debug logging enabled.

Here are some tcpdump/Wireshark captures. I hope I correctly filtered it for the relevant parts, that is ICMPv6 involving the host with the radvd instance and a client device requesting the IPv6 addresses. https://speicher.hamburg.freifunk.net/d/d0a8ea6cae0a43118d38/ 

In the radvd.log file with debug=5 this should correspond to this entry:

```
[Jul 06 11:03:18] radvd (1130426): ffhl recvmsg len=8
[Jul 06 11:03:18] radvd (1130426): ffhl received a packet
[Jul 06 11:03:18] radvd (1130426): ffhl received RS from: fe80::4c8b:abff:fe84:1300
[Jul 06 11:03:18] radvd (1130426): sending RA to fe80::4c8b:abff:fe84:1300 on ffhl (fe80::dcad:caff:fefe:aaaa), 4 options (using 112/1210 bytes)
[Jul 06 11:03:18] radvd (1130426): ffhl processed an RS
[Jul 06 11:03:18] radvd (1130426): polling for 74.068 second(s), next iface is ffhl
```

> Gluon on the other hand seems much more dynamic.

Indeed. In the worst case we have a bus full of people passing by one of our WLAN mesh/AP nodes where the phones of some of those connect automatically. Maybe there might even be a bus stop in front of the WLAN AP, so people's devices might actually be interested in using it for a minute.

> "Multiple times over the course of a minute" is that fast enough for @T-X's requirements?

That could work for us, I think. Note (as seen in the capture files, too) that the kernel itself also retries the NS messages two more times, spaced by 1sec. So feels a bit silly/"redundant" to add another retry mechanism on top... But as radvd has no control over the kernel retries, I guess this kind of makes sense.

The downside of this approach is a potentially higher delay compared to falling back to a multicast RA after the kernel's NS timed out, right?

---

What I would have had in mind otherwise is adding an option like this:

> AdvRASolicitedUnicastStrict on|off
>
> Currently the default with AdvRASolicitedUnicast enabled is that it will fall back to a router advertisement with an all-nodes multicast address if address resolution for the unicast destination failed. A unicast router advertisement / neighbor solicitation might fail when MLD snooping switches are involved, their state is not fully up-to-date yet and the requesting host has not set the ICMPv6 source link-layer option in their router solicitation. Setting this AdvRASolicitedUnicastStrict option to on will avoid this fallback, reducing network burden and battery depletion. But might cause high delays for hosts not using ICMPv6 source-link options in their router solicitations.
>
> This option might default to "on" in the future once more network stacks and managers have implemented the ICMPv6 source link-layer option in their router solicitation messages.
>
> Default: off

So "threatening" network stacks/managers a bit to implement the ICMPv6 source-link option in their RS messages. So that running into this fallback will hopefully become less and less common.

Also notably RFC7772 says:

> [...] routers to respond to Router Solicitations with unicast Router Advertisements **IF**: [...] The solicitation **contains a valid Source Link-Layer Address option**.

So the RFC is a bit ambiguous here. It sounds to me like the authors were aware that if there is no source link-layer address in the RS that the unicast RA approach might have some drawbacks/issues then. And it could also be interpreted as: If this option is not present then don't use the unicast approach at all?

But generally I like the effort to at least quickly try the unicast approach first even if there is no source link-layer option. As long as it's not adding too much delay. Strictly speaking this approach would not be part of the RFC7772 specification, though, I guess? (But the RFC also does not directly forbid replying with a unicast RA in the absence of SLLA in the RS.)

In the Gluon environment, is there a chance that the unicast responses are lost even with SLLA?  And if so, does sending them multiple times make more sense?

If yes, i'm wondering about making this more generic...

`AdvRASolicitedUnicastSchedule 0` - delay zero seconds then send unicast response
`AdvRASolicitedUnicastSchedule 0,5` - as above, but ALSO send another unicast response 5 seconds after the last packet
`AdvRASolicitedUnicastSchedule 0,5,25` - as above, but ALSO send another unicast response 25 seconds after the last packet

My only concern with this is now protection of radvd itself - in a busy environment, it needs to potentially have thousands of future-scheduled events - at that point maybe forcing an earlier scheduled multicast response is cheaper :-)

> In the Gluon environment, is there a chance that the unicast responses are lost even with SLLA? And if so, does sending them multiple times make more sense?

Good question. Yes, they can get lost, like any packet over wireless medium. However the chances (if protocols are working as intended) is typically a lot less compared to broadcasted packets. With 802.11 wireless connections unicast packets are ACK'd and retried with an exponential backoff on the WLAN level, I think up to 3 retries is typical. With multi-hop WLAN meshes each of these chances can add up, of course.

What might be a bit more of a concern, maybe: That afaik. there is no clear specification in or alongside MLD regarding which host, router or switch is supposed to take responsibility when the topology changes or when a client device roams. The MLDv1 and MLDv2 specs only specify to send unsolicited MLD reports, so without receiving an MLD query beforehand, when the internal listener state of a host changed. They don't take topology changes into account. I had made [this](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=a088d1d73a4bcfd7bc482f8d08375b9b665dc3e5) tiny patch for the Linux IPv6 stack a long time ago without any mandate from an RFC. Nor does [RFC4541 for snooping switches](https://www.rfc-editor.org/info/rfc4541/) address topology changes. ff02::1 on the other hand is always flooded, as specified in RFC4541, so ff02::1 is not affected by MLD snooping or topology changes. That's why I think I'd also see some benefits in falling back to multicast RA response as a last resort.

(Edit: But maybe the latter is also of more general concern with IGMP/MLD snooping and not only for, not just specific to router solicitations/advertisements.
Edit2: Or at least RFC4541 2.1.1.4) is insufficient, an MLD query from a :: unspecified source address is invalid/dropped according to RFC3810. But I digress.)

@Skyb0rg007 has specified the RFC7772 in my ticket here:
- https://github.com/radvd-project/radvd/issues/277